*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

ul {
  margin: 0;
  padding: 0;
  list-style: none; }

html {
  font-size: 62.5%;
  /* of root font size 16px */ }

body {
  box-sizing: border-box; }

:root {
  --primary-soft-orange: hsl(35, 77%, 62%);
  --primary-soft-red: hsl(5, 85%, 63%);
  --neutral-off-white: hsl(36, 100%, 99%);
  --neutral-grayish-blue: hsl(233, 8%, 79%);
  --neutral-dark-grayish-blue: hsl(236, 13%, 42%);
  --neutral-very-dark--blue: hsl(240, 100%, 5%); }

body {
  font-family: "Inter", Tahoma, Geneva, Verdana, sans-serif;
  background: white;
  color: var(--neutral-dark-grayish-blue);
  font-size: 1.5rem; }

header, main {
  max-width: 114.4rem;
  margin: 0 auto;
  padding: 0 1.8rem; }

.grid-container {
  display: grid;
  box-sizing: border-box;
  grid-template-columns: 1fr 2fr;
  gap: 30px; }
  .grid-container.header {
    padding-top: 8.8rem;
    margin-bottom: 5.4rem;
    align-items: center; }
  .grid-container.main {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: minmax(18rem, 30rem) minmax(18rem, auto); }
  .grid-container.art {
    grid-template-columns: repeat(auto-fit, minmax(5rem, 1fr));
    grid-template-rows: minmax(auto, 12.8rem);
    margin-top: 7.4rem;
    margin-bottom: 7.4rem; }

.grid-element.first {
  grid-column: 1 / 3;
  grid-row: 1 / 1;
  background-image: url("../assets/images/image-web-3-desktop.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  aspect-ratio: 73/30; }

.grid-element.second {
  grid-column: 3 / -1;
  grid-row: 1 / 3;
  background-color: var(--neutral-very-dark--blue);
  padding: 2.5rem; }
  .grid-element.second h2 {
    font-size: 4rem;
    line-height: 5.5rem;
    color: var(--primary-soft-orange); }
  .grid-element.second li {
    padding-bottom: 1.7rem;
    padding-top: 3rem;
    letter-spacing: 0.1px; }
    .grid-element.second li:not(:last-child) {
      border-bottom: 0.1rem solid var(--neutral-dark-grayish-blue); }
    .grid-element.second li h3 {
      font-size: 2rem;
      color: var(--neutral-off-white); }
    .grid-element.second li p {
      padding: 1rem 0;
      line-height: 2.5rem;
      color: var(--neutral-grayish-blue); }
    .grid-element.second li:hover {
      cursor: pointer; }
      .grid-element.second li:hover h3 {
        color: var(--primary-soft-orange); }

.grid-element.third h1 {
  font-weight: 800;
  margin-top: 0.5rem;
  font-size: 5.6rem;
  line-height: 56px;
  letter-spacing: 0.4px;
  color: var(--neutral-very-dark--blue); }

.grid-element.fourth {
  display: flex;
  flex-direction: column;
  justify-content: space-between; }
  .grid-element.fourth p {
    line-height: 2.4rem; }
  .grid-element.fourth .read-more {
    background-color: var(--primary-soft-red);
    color: var(--neutral-off-white);
    width: 18.9rem;
    padding: 1.5rem;
    outline: none;
    border: none;
    text-transform: uppercase;
    letter-spacing: 0.4rem;
    font-weight: 700;
    font-size: 1.4rem;
    cursor: pointer; }
    .grid-element.fourth .read-more:hover {
      background-color: var(--neutral-very-dark--blue);
      color: var(neutral-off-white); }

.grid-element.art1, .grid-element.art2, .grid-element.art3 {
  display: flex;
  gap: 2.4rem; }
  .grid-element.art1 img, .grid-element.art2 img, .grid-element.art3 img {
    aspect-ratio: 11/14; }
  .grid-element.art1 .description h2, .grid-element.art2 .description h2, .grid-element.art3 .description h2 {
    font-size: 3.2rem;
    line-height: 3.2rem;
    color: var(--neutral-grayish-blue); }
  .grid-element.art1 .description h3, .grid-element.art2 .description h3, .grid-element.art3 .description h3 {
    font-size: 1.8rem;
    padding: 1.3rem 0;
    letter-spacing: 0.1px;
    color: var(--neutral-very-dark--blue); }
  .grid-element.art1 .description p, .grid-element.art2 .description p, .grid-element.art3 .description p {
    line-height: 2.4rem; }
  .grid-element.art1 .description:hover, .grid-element.art2 .description:hover, .grid-element.art3 .description:hover {
    cursor: pointer; }
    .grid-element.art1 .description:hover h3, .grid-element.art2 .description:hover h3, .grid-element.art3 .description:hover h3 {
      color: var(--primary-soft-orange); }

.navigation {
  justify-self: end;
  width: 43.9rem;
  font-size: 1.6rem; }
  .navigation .toggle-menu {
    display: none; }
  .navigation ul {
    display: flex;
    justify-content: space-between; }
    .navigation ul a {
      color: inherit;
      text-decoration: none; }
      .navigation ul a:hover {
        color: var(--primary-soft-red); }

@media (max-width: 96rem) {
  html {
    font-size: 55%; } }

@media (max-width: 50rem) {
  #wrapper {
    position: absolute;
    background-color: none;
    top: 0;
    left: 0;
    right: 0;
    height: 100%;
    transition: background-color 0.3s; }
    #wrapper.outside {
      z-index: 2;
      background-color: rgba(22, 19, 45, 0.6); }
  .grid-container.header {
    padding: 4rem 0;
    margin: 0; }
    .grid-container.header img {
      width: 5.4rem; }
  .grid-container.main {
    grid-template-columns: auto;
    grid-template-rows: auto; }
  .grid-container.art {
    grid-template-columns: auto;
    grid-auto-rows: minmax(auto, 12.8rem); }
  .grid-element.first {
    grid-area: auto;
    background-image: url("../assets/images/image-web-3-mobile.jpg");
    aspect-ratio: 1/1; }
  .grid-element.second {
    grid-area: auto; }
  .navigation {
    width: auto;
    z-index: 4;
    font-size: 2rem;
    color: var(--neutral-very-dark--blue);
    position: absolute;
    top: 0;
    right: 0;
    overflow: hidden;
    width: 70vw;
    height: 100vh; }
    .navigation .hamburger {
      position: absolute;
      top: 5rem;
      right: 3rem;
      z-index: 4; }
    .navigation span {
      display: block;
      width: 4rem;
      height: 3px;
      margin-bottom: 4px;
      background: var(--neutral-very-dark--blue);
      transform-origin: 1rem -1.4rem;
      transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), background-color 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease; }
      .navigation span:first-child {
        transform-origin: 0% 0%; }
      .navigation span:nth-last-child(2) {
        transform-origin: 0.9rem 1rem; }
    .navigation .toggle-menu {
      display: block;
      position: absolute;
      top: 4rem;
      right: 3rem;
      appearance: none;
      width: 5rem;
      height: 5rem;
      cursor: pointer;
      opacity: 0;
      z-index: 6; }
      .navigation .toggle-menu:checked ~ ul {
        translate: none; }
      .navigation .toggle-menu:checked ~ .hamburger span {
        opacity: 1;
        transform: rotate(-45deg) translate(-1.2rem, -1.1rem);
        background: var(--neutral-very-dark--blue); }
        .navigation .toggle-menu:checked ~ .hamburger span:nth-last-child(3) {
          opacity: 0;
          transform: rotate(0deg) scale(0.2, 0.2); }
        .navigation .toggle-menu:checked ~ .hamburger span:nth-last-child(2) {
          transform: rotate(45deg) translate(-1.6rem, -0.3rem); }
    .navigation ul {
      position: absolute;
      top: 0;
      right: 0;
      flex-direction: column;
      padding: 2rem;
      gap: 2.4rem;
      justify-content: center;
      background-color: white;
      width: 70vw;
      z-index: 3;
      height: 100vh;
      translate: 100%;
      transition: translate 0.5s cubic-bezier(0.77, 0.2, 0.05, 1); } }
