:root {
  --primary-soft-orange: hsl(35, 77%, 62%);
  --primary-soft-red: hsl(5, 85%, 63%);

  --neutral-off-white: hsl(36, 100%, 99%);
  --neutral-grayish-blue: hsl(233, 8%, 79%);
  --neutral-dark-grayish-blue: hsl(236, 13%, 42%);
  --neutral-very-dark--blue: hsl(240, 100%, 5%);
}

body {
  font-family: "Inter", Tahoma, Geneva, Verdana, sans-serif;
  background: white;
  color: var(--neutral-dark-grayish-blue);
  font-size: 1.5rem;
}