header, main {
  max-width: 114.4rem;
  margin: 0 auto;
  padding: 0 1.8rem;
}

.grid-container {
  display: grid;
  box-sizing: border-box;
  grid-template-columns: 1fr 2fr;
  gap: 30px;

  &.header {
    padding-top: 8.8rem;
    margin-bottom: 5.4rem;
    align-items: center;
  }

  &.main {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: minmax(18rem, 30rem) minmax(18rem, auto);
  }

  &.art {
    grid-template-columns: repeat( auto-fit, minmax(5rem, 1fr) );
    grid-template-rows: minmax(auto, 12.8rem);

    margin-top: 7.4rem;
    margin-bottom: 7.4rem;
  }
}

.grid-element {
  &.first {
    grid-column: 1 / 3;
    grid-row: 1 / 1;

    background-image: url('../assets/images/image-web-3-desktop.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    aspect-ratio: 73/30;
  }

  &.second {
    grid-column: 3 / -1;
    grid-row: 1 / 3;

    background-color: var(--neutral-very-dark--blue);

    padding: 2.5rem;

    h2 {
      font-size: 4rem;
      line-height: 5.5rem;
      color: var(--primary-soft-orange);
    }

    li {
      padding-bottom: 1.7rem;
      padding-top: 3rem;
      letter-spacing: 0.1px;

      &:not(:last-child) {
        border-bottom: 0.1rem solid var(--neutral-dark-grayish-blue);
      }

      h3 {
        font-size: 2rem;
        color: var(--neutral-off-white);
      }

      p {
        padding: 1rem 0;
        line-height: 2.5rem;
        color: var(--neutral-grayish-blue);
      }

      &:hover {
        cursor: pointer;

        h3 {
          color: var(--primary-soft-orange);
        }
      }
    }
  }

  &.third {
    h1 {
      font-weight: 800;
      margin-top: 0.5rem;
      font-size: 5.6rem;
      line-height: 56px;
      letter-spacing: 0.4px;
      color: var(--neutral-very-dark--blue);
    }
  }

  &.fourth {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    p {
      line-height: 2.4rem;
    }

    .read-more {
      background-color: var(--primary-soft-red);
      color: var(--neutral-off-white);
      width: 18.9rem;
      padding: 1.5rem;
      outline: none;
      border: none;
      text-transform: uppercase;
      letter-spacing: 0.4rem;
      font-weight: 700;
      font-size: 1.4rem;
      cursor: pointer;

      &:hover {
        background-color: var(--neutral-very-dark--blue);
        color: var(neutral-off-white);
      }
    }
  }

  &.art1, &.art2, &.art3 {
    display: flex;
    gap: 2.4rem;

    img {
      aspect-ratio: 11/14;
    }

    .description {
      h2 {
        font-size: 3.2rem;
        line-height: 3.2rem;
        color: var(--neutral-grayish-blue);
      }

      h3 {
        font-size: 1.8rem;
        padding: 1.3rem 0;
        letter-spacing: 0.1px;
        color: var(--neutral-very-dark--blue);
      }

      p {
        line-height: 2.4rem;
      }

      &:hover {
        cursor: pointer;

        h3 {
          color: var(--primary-soft-orange);
        }
      }
    }
  }
}

.navigation {
  justify-self: end;
  width: 43.9rem;
  font-size: 1.6rem;

  .toggle-menu {
    display: none;
  }

  ul {
    display: flex;
    justify-content: space-between;

    a {
      color: inherit;
      text-decoration: none;

      &:hover {
        color: var(--primary-soft-red);
      }
    }
  }
}