@media (max-width: 96rem) {
  html {
    font-size: 55%;
  }
}

@media (max-width: 50rem) {
  #wrapper {
    position: absolute;
    background-color: none;
    top: 0;
    left: 0;
    right: 0;
    height: 100%;
    transition: background-color 0.3s;

    &.outside {
      z-index: 2;
      background-color: rgba(22, 19, 45, 0.6);
    }
  }

  .grid-container {
    &.header {
      padding: 4rem 0;
      margin: 0;

      img {
        width: 5.4rem;
      }
    }
    &.main {
      grid-template-columns: auto;
      grid-template-rows: auto;
    }

    &.art {
      grid-template-columns: auto;
      grid-auto-rows: minmax(auto, 12.8rem);
    }
  }

  .grid-element {
    &.first {
      grid-area: auto;
      background-image: url('../assets/images/image-web-3-mobile.jpg');
      aspect-ratio: 1/1;
    }

    &.second {
      grid-area: auto;
    }
  }

  .navigation {
    width: auto;
    z-index: 4;
    font-size: 2rem;
    color: var(--neutral-very-dark--blue);
    position: absolute;
    top: 0;
    right: 0;
    overflow: hidden;
    width: 70vw;
    height: 100vh;

    .hamburger {
      position: absolute;
      top: 5rem;
      right: 3rem;
      z-index: 4;
    }

    span {
      display: block;
      width: 4rem;
      height: 3px;
      margin-bottom: 4px;
      background: var(--neutral-very-dark--blue);
      transform-origin: 1rem -1.4rem;
      transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
                  background-color 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
                  opacity 0.55s ease;

      &:first-child {
        transform-origin: 0% 0%;
      }

      &:nth-last-child(2) {
        transform-origin: 0.9rem 1rem;
      }
    }

    .toggle-menu {
      display: block;
      position: absolute;
      top: 4rem;
      right: 3rem;
      appearance: none;
      width: 5rem;
      height: 5rem;
      cursor: pointer;
      opacity: 0;
      z-index: 6;

      &:checked {
        ~ ul {
          translate: none;
        }

        ~ .hamburger span {
          opacity: 1;
          transform: rotate(-45deg) translate(-1.2rem, -1.1rem);
          background: var(--neutral-very-dark--blue);

          &:nth-last-child(3) {
            opacity: 0;
            transform: rotate(0deg) scale(0.2, 0.2);
          }

          &:nth-last-child(2) {
            transform: rotate(45deg) translate(-1.6rem, -.3rem);
          }
        }
      }
    }

    ul {
      position: absolute;
      top: 0;
      right: 0;
      flex-direction: column;
      padding: 2rem;
      gap: 2.4rem;
      justify-content: center;
      background-color: white;
      width: 70vw;
      z-index: 3;
      height: 100vh;
      translate: 100%;
      transition: translate 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
    }
  }
}